@model WebArchiwum.WebUI.Models.YearAndGraduate
@{
    ViewBag.Title = "Dodwanie absolwenta";
}

<h2>Dodawanie absolwenta</h2>
@using (Html.BeginForm("GraduateAdd", "Admin"))
{
    <div class="row">
        <div class="middle col-sm-4">
            @Html.HiddenFor(p=>p.Graduates.YearId)
            <div class="editor-label">
                @Html.LabelFor(p=>p.Graduates.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(p=>p.Graduates.FirstName)
                @Html.ValidationMessageFor(p => p.Graduates.FirstName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(p => p.Graduates.LastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(p => p.Graduates.LastName)
                @Html.ValidationMessageFor(p => p.Graduates.LastName)
            </div>
            <div class="editor-field">
                @Html.LabelFor(p => p.Graduates.BIO)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(p => p.Graduates.BIO)
                @Html.ValidationMessageFor(p => p.Graduates.BIO)
            </div>
            <div class="row form-buttons">
                <input type="submit" value="Zapisz" />
                <div class="cancel-button">
                    @Html.ActionLink("Anuluj", "YearView")
                </div>
            </div>
        </div>
    </div>
            }
