@model Domain.Entities.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Register</h2>
@ViewBag.Blad
@using (Html.BeginForm("Register", "Admin"))
{
@Html.LabelFor(p=>p.Login)
@Html.TextBoxFor(p => p.Login)   
@Html.ValidationMessageFor(x => x.Login)
    
@Html.LabelFor(p => p.Password)
@Html.TextBoxFor(p => p.Password)
@Html.ValidationMessageFor(x => x.Password)
    
@Html.LabelFor(p => p.ConfirmPassword)
@Html.TextBoxFor(p=>p.ConfirmPassword)
@Html.ValidationMessageFor(x => x.ConfirmPassword)
<div class="row form-buttons">
        <input type="submit" value="Zapisz" />  
        <div class="cancel-button">
            @Html.ActionLink("Anuluj", "Index")
        </div>
    </div>
}
