@model IEnumerable<Domain.Entities.Year>
@{
    ViewBag.Title = "Widok roczników";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
Witaj, @ViewBag.a
<h2>Widok roczników</h2>
@Html.ActionLink("Nowy rocznik", "YearAdd", new { YearId = ViewBag.id })
<div class="container">
    <div class="row">
        @ViewBag.year
        <div class="table-div col-sm-10">
            <div class="table-header row">
                <div class="col-sm-1"><span>ROK</span></div>
            </div>
            <div class="table-items">
                @foreach (var item in Model)
                {
                    <div class="table-item row">
                        <div class="col-md-4"> <span>@item.Name</span></div>
                        <div class="glyphicon-edit">@Html.ActionLink("E", "YearEdit", new { item.YearId })</div>
                        <div class="glyphicon-edit">@Html.ActionLink("K", "GraduateView", new { item.YearId }) </div>
                    </div>

                    <div>
                        <div class="delete">
                            @using (@Html.BeginForm("YearDelete", "Admin"))
                            {
                                @Html.Hidden("YearId", item.YearId)
                                <input type="submit" value="Usuń" />
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>